<?xml version="1.0"?>
<!--
/**
 * @author Rengaraj
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RengaCodz_SoldBy::sales_person" title="Manage Sales Person" translate="title" module="RengaCodz_SoldBy" sortOrder="100" parent="Magento_Sales::sales_operation" action="salesagent/user" resource="RengaCodz_SoldBy::sales_person"/>
    </menu>
</config>